/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
  font-family: "IBM Plex mono";
  font-size: 18px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: grid;
  grid-template-rows: 36px auto auto auto;
  min-height: 668px;
}

.header-tittle {
  padding-top: 10px;
  padding-left: 10px;
  color: var(--accent-color-title);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text {
  width: 355px;
  height: 117px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.rec-tittle {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 38px;
  color: var(--accent-color-header-rec);
}

.rec-tittle::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 18px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0px 0px 4px 2px var(--accent-color-header-rec);
  background-color: var(--accent-color-header-rec);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 11.5px;
  padding-right: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 137px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 26px;
  border: none;
  color: var(--accent-color-header);
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-header);
}

.container {
  background-color: var(--background-color);
}

.container-section {
  padding-right: 10px;
  padding-left: 10px;
}

.title-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__theme-menu-button:focus {
  border-width: 1px;
  border-bottom: 1px var(--accent-color-header) solid;
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px var(--accent-color-header) solid;
  border-width: 1px;
}

.title-decor:hover {
  border-width: 1px;
  border-bottom: 1px var(--accent-color-header) solid;
}

.title-decor:focus {
  border: 1px var(--accent-color-header) solid;
  border-width: 1px;
  outline: none;
}

.container-section-about-focused {
  padding-top: 40px;
}

.little-tittle {
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.container-section-text {
  padding-bottom: 20px;
  color: var(--text-color-content);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.container-section-text-padding {
  padding-bottom: 50px;
}

.average-tittle {
  margin-bottom: 20px;
  color: var(--text-color-subtitle);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.little-tittle-weight {
  font-weight: 400;
}

.little-tittle-margin {
  margin-bottom: 20px;
}

.container-section-img {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.little-tittle-img {
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.img-sunset {
  width: 100%;
  height: 100%;
}

.img-ice {
  width: 100%;
  height: 100%;
}

.img-tape {
  width: 100%;
  height: 100%;
}

.img-books {
  width: 100%;
  height: 100%;
}

.img-street {
  width: 100%;
  height: 100%;
}

footer {
  padding-top: 30px;
  background-color: var(--background-color);
}

.footer-tittle {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding-top: 20px;
  padding-left: 15px;
  color: var(--accent-color-title);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer-tittle::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer-tittle::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-rows: auto 244px 434px 300px;
    height: 1024px;
  }

  .header-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .header-tittle {
    display: flex;
    align-items: center;
    margin-left: -10px;
    font-size: 120px;
  }

  .header-text {
    width: 364px;
  }

  .header__theme-menu {
    height: 244px;
  }

  .header__theme-menu-list {
    margin-right: 10px;
  }

  .rec-tittle {
    padding-top: 22px;
    padding-right: 49px;
  }

  .rec-tittle::after {
    top: 30px;
    right: 30px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .container-section-about-focused {
    display: grid;
    grid-template-columns: 256px auto;
    grid-template-rows: 334px 334px;
    padding-top: 60px;
  }

  .average-tittle {
    grid-column: 1;
    grid-row: 1/3;
    padding-right: 20px;
  }

  .container-section-about-сoncentration {
    display: grid;
    grid-template-rows: repeat(4, auto);
  }

  .container-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .average-tittle-width {
    width: 236px;
    padding-top: 60px;
  }

  .container-section-about-сoncentration-better {
    display: grid;
    grid-template-columns: 256px auto;
    grid-template-rows: auto auto auto auto auto;
    padding-top: 30px;
  }

  .average-tittle-grid {
    grid-column: 1;
    grid-row: 1/6;
  }

  .img-sunset {
    grid-column: span 2;
    grid-row: span 1;
  }

  .img-ice {
    grid-column: span 1;
    grid-row: span 2;
  }

  .img-tape {
    grid-column: span 1;
    grid-row: span 2;
  }

  .img-books {
    grid-column: span 1;
    grid-row: span 1;
  }

  .img-street {
    grid-column: span 2;
    grid-row: span 1;
  }

  .img {
    object-fit: cover;
  }

  .little-tittle-img {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .container-section-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    object-fit: cover;
  }

  footer {
    padding-top: 50px;
  }

  .footer-tittle {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 1024px;
    margin-right: 20px;
    font-size: 120px;
  }

  .footer-tittle::before {
    top: 30px;
    right: 0;
  }

  .footer-tittle::after {
    bottom: 10px;
    left: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 46px 403px auto;
    height: 768px;
  }

  .header__theme-menu {
    display: grid;
    grid-column: 1/4;
    grid-row: 1;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .header-tittle {
    display: flex;
    grid-column: 1/3;
    grid-row: 2;
    align-items: flex-end;
    font-size: 157px;
  }

  .header-box {
    display: flex;
    grid-column: 1/4;
    grid-row: 3;
    align-items: center;
    margin-bottom: 10px;
  }

  .header-text {
    width: 491px;
    height: 71px;
  }

  .rec-tittle {
    grid-column: 3;
    grid-row: 1;
  }

  .container-section-about-focused {
    display: grid;
    grid-template-columns: 335px auto;
    grid-template-rows: 264px 264px;
    height: 588px;
  }

  .container-section-about-сoncentration {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }

  .average-tittle-width {
    grid-column: 1/4;
    grid-row: 1;
    width: 315px;
  }

  .container-section-box {
    min-width: 315px;
    margin-right: 20px;
  }

  .container-section-about-сoncentration-better {
    display: grid;
    grid-template-columns: 335px auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .little-tittle-img {
    grid-area: tittle;
    margin-right: 0;
  }

  .footer-tittle {
    height: 100vh;
    margin-top: 10px;
    font-size: 157px;
  }

  .footer-tittle::before {
    top: 40px;
    right: 0;
  }
}